@model ViewQuestionVM

<div ng-controller="questionController" ng-init="countdown();" ng-cloak>
    <h1>@Model.TestTitle</h1>
    <hr />
    @{
        var progressBarProcent = Math.Floor(((double)Model.QuestionIndex / Model.NumOfQuestion) * 100);
    }
    <div>
        @if (Model.SecondsLeft.HasValue)
        {
            <h3>Time left: {{getMinutes(counter)}}</h3>
        }
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="@progressBarProcent"
                 aria-valuemin="0" aria-valuemax="100" style="width:@($"{progressBarProcent}%")">
                @Model.QuestionIndex of @Model.NumOfQuestion questions
            </div>
        </div>
        <form asp-controller="TestSession" asp-action="ViewQuestion">
            @Html.Partial("_QuestionFormPartial", Model.QuestionFormVM)

            @if (Model.QuestionIndex > 1)
            {
                <button type="submit" value="Previous" name="submit" class="orcaBtn btnWidth120 TopMargin20">Previous<span class="rightMargin5 fa fa-chevron-left"></span></button>
            }
            @if (Model.QuestionIndex < Model.NumOfQuestion)
            {
                <button type="submit" value="Next" name="submit" class="orcaBtn btnWidth120 TopMargin20">Next<span class="LeftMargin5 fa fa-chevron-right"></span></button>
            }
            else
            {
                <button type="submit" value="Submit" name="submit" class="orcaBtn btnWidth120 TopMargin20 bgGreen rightFloat"><span class="fa fa-check rightMargin5"></span></button>
            }
        </form>
    </div>
    <br />
</div>

@section scripts
{
    @if (Model.SecondsLeft.HasValue)
    {
        <script>
            app.controller('questionController', ['$scope', '$timeout', '$interval', function ($scope, $timeout, $interval) {
                if ($scope.counter === undefined) 
                {
                    $scope.counter = @Model.SecondsLeft;
                }
                else 
                {
                    alert($scope.counter);
                }

                var counting;
                $scope.timeOutMessage = "Your time is up!";
                $scope.isTimeUp = false;
                $scope.countdown = function () {
                    counting = $timeout(function () {
                        console.log($scope.counter);
                        if ($scope.counter === 0) {
                            //$scope.isTimeUp = true;
                            location.href = '/sessioncompleted/@Model.TestId/1';
                            $interval.cancel(stop);
                        }
                        else {
                            $scope.counter--;
                            $scope.countdown();
                        }
                    }, 1000);
                };
                $scope.getMinutes = function (time) {
                    // Minutes and seconds
                    var mins = ~~(time / 60);
                    var secs = time % 60;

                    // Hours, minutes and seconds
                    var hrs = ~~(time / 3600);
                    var mins = ~~((time % 3600) / 60);
                    var secs = time % 60;

                    // Output like "1:01" or "4:03:59" or "123:03:59"
                    ret = "";

                    if (hrs > 0)
                        ret += "" + hrs + ":" + (mins < 10 ? "0" : "");

                    ret += "" + mins + ":" + (secs < 10 ? "0" : "");
                    ret += "" + secs;
                    return ret;
                }
            }]);
        </script>
    }
}