@model DashboardVM

<h1>Dashboard</h1>
<a asp-controller="Admin" asp-action="CreateTest"><button class="orcaBtn topBottomMargin20 bgGreen">
    <span class="fa fa-plus rightMargin5"></span>Create Test
</button></a>
<div style="display:inline">
    @foreach (var test in Model.Tests)
    {
        <div class="whiteSquare TopMargin20">
            <p class="pBold onTheLine">@test.Name</p>
            <p class="pBold onTheLine rightMargin10">: </p>
            <p class="onTheLine">@test.Description</p>
            <a asp-controller="Admin" asp-action="ShowResults" asp-route-TestId="@test.Id"><button class="orcaBtn topMargin-8 leftRightMargin10 btnWidth40 orcaTool-tooltip" style="float: right;" data-toggle="tooltip" title="Results"><span class="fa fa-bar-chart orcaTool-tooltip"></span></button></a>
            <a asp-controller="Admin" asp-action="EditTestSettings" asp-route-TestId="@test.Id"><button class="orcaBtn topMargin-8 btnWidth40 orcaTool-tooltip" style="float: right;" data-toggle="tooltip" title="Settings"><span class="fa fa-cog" ></span></button></a>
            <a asp-controller="Admin" asp-action="ManageTestQuestions" asp-route-TestId="@test.Id"><button class="orcaBtn topMargin-8 rightMargin10 btnWidth40 orcaTool-tooltip" style="float: right;" data-toggle="tooltip" title="Questions"><span class="fa fa-pencil"></span></button></a>
        </div>
    }
</div>